<!--header，<app-header></app-header>代表要帶入header Component的內容-->
<header style="margin: 3x"><app-header></app-header></header>
<!--nav--，<app-nav></app-nav>代表要帶入nav Component的內容-->
<nav class="nav_position"><app-nav></app-nav></nav>
<DIV></DIV>
<!--main-->
<main style="margin: 2px">
  <!--設定Router路徑中頁面顯示的區域-->
  <router-outlet></router-outlet>
</main>
<!--footer，<app-footer></app-footer>代表要帶入footer Component的內容-->
<footer style="margin: 2px"><app-footer></app-footer></footer>
