/*按鈕的CSS*/
.login_bottom {
  background-color: aqua;
  border-radius: 12px;
  border: 2px solid blue;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login_bottom:hover {
  background-color: #4caf50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.login_bottom:active {
  transform: translateY(1px);
}

/*-------------------------------------------------*/

/*PAGE的CSS布局*/

.body_A {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  background-color: #f0f0f0;
}

/*logo圖圖片設定*/
.logo_s {
  font-size: larger;
  background-image: url(pic/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -99999px;
  height: 30vw;
  width: 30vw;
  opacity: 0.3;
}

/*---------------------------*/
.login-container {
  width: 300px;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
  text-align: center;
  margin-bottom: 24px;
}
.login-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.login-container button {
  width: 98%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #c4e7e0;
  color: rgb(15, 14, 14);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.login-container button:active {
  transform: translateY(1px);
}
