<div class="body_A">
  <p class="logo_s">中正大學</p>
  <div class="login-container">
    <h2>登入</h2>
    <form action="/login" method="POST">
      帳號：
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="使用者名稱"
        required
      />
      密碼：
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="密碼"
        required
      />
      <br />
      <button class="login_bottom" type="submit" (click)="login()">登入</button>
      <P>{{ errorMessage }}</P>
    </form>
  </div>
</div>
