.a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 100%;

  background-color: #0e65c2;
  font-weight: bold;

  /*text-align: left;*/
  font-size: 30px;
  /*text-shadow: #1f2327;*/

  /*text-shadow: 0 0 5px #5b947f, 0 0 5px #5b947f, 0 0 5px #5b947f,
      0 0 5px #5b947f;*/
}
.a a {
  text-decoration: none;
  color: white;
}
.a a:active {
  transform: translateY(1px);
}
