.nav_layout {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.nav_style {
  /*  display: inline-block;

  margin: 0.2vw;
  font-size: 16px;
  text-decoration: none;*/
  /*padding: 1px;*/
  margin: 3px;

  display: inline;
}
.nav_P {
  border: 12px;
  background-origin: padding-box;
}
