<DIV>
  <ul>
    <li class="nav_style"><a routerLink="/hridcheck/home">首頁</a></li>
    <li class="nav_style">
      <a routerLink="/hridcheck/checklog">出差勤紀錄</a>
    </li>
    <P class="nav_style" (click)="logout()">登出</P>
  </ul>
</DIV>
