<!--暫時不用-->

<section class="section_bk">
  <!-- <div><input type="date" id="pick_date" /></div>-->
  <P>出勤表</P>
  <table>
    <TH>日期 </TH>
    <TH>上班時間 </TH>
    <TH>下班時間 </TH>
    <TH>出勤出勤狀況</TH>
    <TH>備註 </TH>
    <!--迴圈自己列出json丟過來的每一條資料-->
    <TR *ngFor="let worktime of item"
      ><TD>{{ worktime.d }}</TD>
      <TD>{{ worktime.t }}</TD>
      <TD>{{ worktime.t2 }}</TD>
      <TD>{{ worktime.status }}</TD>
      <TD>{{ worktime.tips }}</TD>
    </TR>
    <!--迴圈自己列出json丟過來的每一條資料-->
  </table>

  <div class="calendar"></div>
  <div class="tips">
    <P>判斷標準​：</P>
    <P>正常出勤時間: 9:00~ 18:00 (工作時數8小時、中間休息一小時)</P>
    <P>1.遲到:超過09:00打卡</P>
    <P>2.早退: 下班時間-上班時間 '<' 9小時為早退</P>
    <P>3.正常:下班時間-上班時間 >= 9小時</P>
  </div>
</section>
