.tips {
  position: relative;
  left: 5%;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: -2;
  color: red;
  /*display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;*/
}
table {
  text-align: center;
  letter-spacing: 5px;
}

table th {
  background-color: rgb(239, 220, 15);
  width: 5%;
}

table tr {
  background-color: rgb(162, 229, 193);
}
