.ch_bk {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.layout {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.layout button {
  font-style: italic;
  background-color: aqua;
  border-radius: 3cap;
  margin: 2px;
  border-color: brown;
  box-shadow: 2px;
}
.layout button:hover {
  background-color: rgb(55, 255, 0);
  border-radius: 3cap;
  margin: 2px;
  box-shadow: 20px;
  cursor: pointer;
}
.layout button:active {
  /* opacity: 0.1;*/
  transform: translateY(1px);
}

.tips {
  position: relative;
  left: 5%;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: -2;
  color: red;
  /*display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;*/
}
table {
  text-align: center;
  letter-spacing: 5px;
}

table th {
  background-color: rgb(239, 220, 15);
  width: 5%;
}

table tr {
  background-color: rgb(162, 229, 193);
}
