<div ch_bk>
  <h2>你好</h2>
  <h2>{{ user }}</h2>
  <TH>打卡鐘記錄查詢</TH>
  <table class="layout">
    <tr>
      <TD>起始日期</TD>
      <td><input type="date" [(ngModel)]="startTime" /></td>
    </tr>
    <tr>
      <TD>結束日期</TD>
      <td><input type="date" [(ngModel)]="endTime" /></td>
      {{
        endTime
      }}
    </tr>
    <!--產生出缺勤紀錄-->
    <button (click)="get_log(startTime, endTime)">查詢出缺勤紀錄</button>
  </table>
</div>
<section class="section_bk">
  <!-- <div><input type="date" id="pick_date" /></div>-->
  <P>出勤表</P>
  <table>
    <TH>日期 </TH>
    <TH>上班時間 </TH>
    <TH>下班時間 </TH>
    <TH>上下班打卡紀錄</TH>
    <TH>是否為假日</TH>
    <TH>是否正常出勤</TH>
    <!--迴圈自己列出json丟過來的每一條資料-->
    <tr *ngFor="let record of logitem | keyvalue">
      <td>{{ record.key }}</td>
      <td>{{ record.value.attend }}</td>
      <td>{{ record.value.leave }}</td>
      <td>
        <span *ngFor="let time of record.value.records; let i = index"
          >{{ time
          }}<span *ngIf="i < record.value.records.length - 1">, </span></span
        >
      </td>
      <td>{{ record.value.holiday ? record.value.holiday : "否" }}</td>
      <td>{{ record.value.valid ? "是" : "否" }}</td>
    </tr>
    <!--迴圈自己列出json丟過來的每一條資料-->
  </table>
  <br />
  <P style="font-size: 20">{{ errorMessage }}</P>
  <div class="calendar"></div>
  <div class="tips">
    <P>判斷標準​：</P>
    <P>正常出勤時間: 9:00~ 18:00 (工作時數8小時、中間休息一小時)</P>
    <P>1.遲到:超過09:00打卡</P>
    <P>2.早退: 下班時間-上班時間 < 9小時為早退</P>
    <P>3.正常:下班時間-上班時間 >= 9小時</P>
  </div>
</section>
