.ft {
  display: flex;
  flex-direction: column;
  background-color: #69aaef;
  padding: 1px;
  border: thick double rgb(69, 0, 0);
}

.ft p {
  font-size: 12px;
  color: aliceblue;
  margin: 0;
}
.ft h1 {
  font-size: 12px;
}
